@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;400;700&display=swap");

/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif; */

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  color: #333;
}

h2,
p,
span,
li,
.topnav {
  font-family: "Montserrat", sans-serif;
}

/* Style the top navigation bar */
.topnav, button {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a, button {
  float: left;
  display: block;
  color: wheat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover, button:hover {
  background-color: wheat;
  color: black;
}

/* Change color on hover */
.active {
  background-color: rgb(136, 213, 208);
  text-decoration: underline;
}

footer {
  margin-top: 300px;
  background-color: #eceaea;
  height: 60px;
  text-align: center;
  padding: 10px;
}
button {
  margin: 20px;
  cursor: pointer;
}




.counting {
  float: left;
  display: block;
  background-color: rgb(136, 213, 208);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 20px;
}

#reset-btn {
  background-color: rgb(136, 213, 208);
  color: black;
  font-style: italic;
}

#reset-btn:hover {
  background-color: black;
  color: rgb(136, 213, 208);
  font-weight: bold;
}


#greetings {
  margin-top: 20px;
  padding-bottom: 350px;
}

video {
  margin: 30px 10px 25px 10px
}
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav a, button {
    float: none;
    width: 100%;
    align-items: center;
  }
}

/* The hero image */
.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: brightness(70%);
}
.hero .hero-text {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 130%;
}

.hero-text h1 {
  color: rgb(136, 213, 208);
}

.hero-card {
  background-color: rgba(67, 14, 14, 0.434);
  width: 50%;
}

#dropZone,
#words {
  display: flex;
  /* flex-flow: column wrap; */
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

#Sie:active,
#war:active,
#neun:active,
#Jahre:active,
#alt:active,
#und:active, 
#sie:active,
#lebte:active,
#allein:active,
#da:active
{

  color: rgb(136, 213, 208);
}


#dropBox1:hover,
#dropBox2:hover,
#dropBox3:hover,
#dropBox4:hover,
#dropBox5:hover,
#dropBox6:hover,
#dropBox7:hover,
#dropBox8:hover,
#dropBox9:hover,
#dropBox10:hover {
  background-color: wheat;
}


#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4,
#dropBox5,
#dropBox6,
#dropBox7,
#dropBox8,
#dropBox9,
#dropBox10 {
  display: flex;
  box-sizing: border-box;
  display: inline-block;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 2px solid #aaaaaa;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(136, 213, 208);
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 700px) {
  #dropZone,
  #words {
    display: block;
    flex-direction: column;
    text-align: center;
    background-color: wheat;
    min-height: 100px;
    font-size: 1rem;
    padding-bottom: 15px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #dropBox1,
  #dropBox2,
  #dropBox3,
  #dropBox4,
  #dropBox5,
  #dropBox6,
  #dropBox7,
  #dropBox8,
  #dropBox9,
  #dropBox10 {
    display: block;
    flex-direction: column;
    text-align: center;

    height: 10px;
    margin: 15px;
  }

  .hero-text h1,
  .hero-text h2,
  .hero-text p {
    font-size: 1rem;
    color: black;
  }

  video {
    width: 100%;
  }

  .drawing-area, .drawing-area1 {
    width: 100%;
  }
}

/* body {
  padding: 40px;
}
h2 {
  margin-bottom: 50px;
} */
#jumbledWordsWrapper span {
  background: wheat;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  height: 50px;
  padding: 15px 25px;
  margin: 0 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 50px;
}
#orderedWordsWrapper span {
  background: rgb(136, 213, 208);
  /* 
  background: #abcdef; */
  box-sizing: border-box;
  text-align: center;
  margin-top: 50px;
}

.draggable {
  
  background: rgb(136, 213, 208);
  margin:10px;
  padding:5px;}

  #word1,#word2 {
    display:inline-block;
    min-width:30px;min-height:10px;border-style:solid;
    border-width:0px;border-bottom-width:2px;
    
  }

  p {
    display:inline;
  }

  #wordsblank {
    margin-top: 20px;
    margin: 15 px;
    
  }

  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
  }
  
  .drawing-area, .drawing-area1 {
    box-shadow: 0 0 6px 0 #999;
    
  }

  canvas {
    /* cursor:  pointer;	 */
    /* cursor: url('/assets/img/pen.png'), auto; */

    cursor: url('/assets/img/iconmonstr-circle-lined-24.png'), auto;
    
  }
  
  .clear-button {
    margin: 2em;
    font-size: 16px;
  }
  

  

  